<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/css/login_reglogin.css"/>
</head>
<body>
	<div class="bg">
		<img src="/static/images/b.jpg" alt="">
	</div>
	<div class="main">
		<div class="header" >
			<h1>登录!</h1>
		</div>
		<p></p>
		<form action="/login" method="post">
			<ul class="right-form">
				<h2>登录:</h2>
				<li><input type="text" name="username" placeholder="账户" required/></li>
				<li><input type="password" name="password" placeholder="密码" required/></li>
				{% if errMsg %}
                    <li style="color:red;">用户名或密码不正确</li>
                {% endif %}
                <input type="hidden" name="source_url">
				<input type="submit" value="登录" >
				<div class="clear"> </div>
			</ul>
			<div class="clear"> </div>
		</form>
	</div>
	
</body>
</html>
